.navigation {
  text-align: left;
  flex-grow: 1;
}

.navigation-link {
  display: block;
  text-decoration: none;
  margin: 1rem 0;
  font-size: 1.2rem;
  color: #000;
}

.title {
  font-family: 'Bad Script', cursive;
  text-align: left;
  margin-top: 0;
}
