.navigation {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.navigation-link {
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.2rem;
  color: #000;
}

.nav-links-holder {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.title {
  font-family: 'Bad Script', cursive;
  margin: 0;
}

.insta-icon {
  width: 25px;
}
